/ use .labeled.icon to create large menu icons
.ui.inverted.right.inline.vertical.sidebar.menu
  %a.item
    %i.home.icon
    Home
  %a.item
    %i.block.layout.icon
    Topics
  %a.item
    %i.smile.icon
    Friends
  %a.item
    %i.calendar.icon
    History