.ui.inverted.left.inline.vertical.sidebar.menu
  %a.item
    %i.home.icon 
    Home
  %a.item
    %i.block.layout.icon
    Topics
  %a.item
    %i.smile.icon
    Friends
  %a.item
    %i.calendar.icon
    History

  .item
    .ui.floating.dropdown.labeled.search.icon.button
      %i.checkmark.icon
      %span.text Session #1914902
      .menu 
        .item Session #1914901
        .item Session #1914900
        .item Session #1914807
        .item Session #1914789

    /.item
    .ui.floating.dropdown.labeled.search.icon.button
      %i.fork.icon
      %span.text CISRV-1205
      .menu 
        .item CISRV-1006
        .item timings-display-prototype
        .item codepipeline_upload
        .item cisrv-1303-flush-scm-cache

    /.item
    .ui.floating.dropdown.labeled.search.icon.button
      %i.file.code.outline.icon
      %span.text tddium_site
      .menu 
        .item tddium_www
        .item tddium_system
        .item docs
        .item begot

    /.item
    .ui.floating.dropdown.labeled.search.icon.button
      %i.users.icon
      %span.text solanolabs
      .menu 
        .item electronspin
        .item semipermeable
        .item tddium
        .item semantic-ui