.ui.inverted.left.inline.vertical.sidebar.menu
  %a.item
    %i.home.icon 
    Home
  %a.item
    %i.block.layout.icon
    Topics
  %a.item
    %i.smile.icon
    Friends
  %a.item
    %i.calendar.icon
    History