---
title: "Idea 2"
---

-# = partial "partials/sidebar"

.pusher.ci
  .ui.grid

    / .ui.horizontal.list
    /   .item
    /     .ui.button.basic.icon
    /       %i.arrow.left.icon 
    /       Dashboard
    /   .item
    /     %p solanolabs
    /   .item
    /     %span /
    /   .item
    /     %p tddium_site

    .sixteen.wide.column
      
      
      / %a.ui.basic.button.toggle.session
      /   %i.sidebar.icon
      / .ui.horizontal.list.massive.session
      /   %a.item
      /     solanolabs
      /   .item 
      /     %i.right.chevron.grey.tiny.icon
      /   %a.item
      /     tddium_system

      %a.ui.basic.button.toggle.session
        %i.sidebar.icon
      .ui.horizontal.list.massive.session
        .item
          .ui.floating.dropdown.top.left.pointing
            %a.text solanolabs
            .menu
              .ui.icon.search.input
                %i.search.icon
                %input{:placeholder => "Search Organizations", :type => "text"}/
              .scrolling.menu
                .item electronspin
                .item semantic-ui
                .item semipermeable
                .item.active.disabled solanolabs
                .item tddium
        .item 
          %i.right.chevron.grey.tiny.icon       
        .item
          .ui.floating.dropdown.top.left.pointing
            %a.text tddium_site
            .menu
              .ui.icon.search.input
                %i.search.icon
                %input{:placeholder => "Search Repositories", :type => "text"}/
              .scrolling.menu
                .item begot
                .item docs
                .item.active.disabled tddium_site
                .item tddium_system
                .item tddium_www
                
                



    -# .sixteen.wide.column

      / .ui.button.basic.icon.dashboard
      /   %i.arrow.left.icon 
      /   Dashboard
      
      

      / .ui.button.basic.icon.dashboard
      /   %i.arrow.left.icon 
      /   Dashboard
      
      / %select.ui.search.dropdown
      /   %option.blue{:value => ""} solanolabs
      /   %option{:value => "1"} electronspin
      /   %option{:value => "2"} semipermeable
      /   %option{:value => "3"} tddium
      /   %option{:value => "4"} semantic-ui
      / %i.right.chevron.icon
      / %select.ui.search.dropdown
      /   %option.blue{:value => ""} tddium_site
      /   %option{:value => "1"} tddium_www
      /   %option{:value => "2"} tddium_system
      /   %option{:value => "3"} docs
      /   %option{:value => "4"} begot
      / %i.right.chevron.icon.small
      / %select.ui.search.dropdown
      /   %option.blue{:value => ""} CISRV-1205
      /   %option{:value => "1"} CISRV-1006
      /   %option{:value => "2"} timings-display-prototype
      /   %option{:value => "3"} codepipeline_upload
      /   %option{:value => "4"} cisrv-1303-flush-scm-cache
      / %i.right.chevron.icon
      / %select.ui.search.dropdown
      /   %option.blue{:value => ""} Session #1914902
      /   %option{:value => "1"} Session #1914901
      /   %option{:value => "2"} Session #1914900
      /   %option{:value => "3"} Session #1914807
      /   %option{:value => "4"} Session #1914789
      

      / .ui.breadcrumb.session
      /   %a.section solanolabs
      /   %i.right.chevron.icon.divider
      /   %a.section tddium_site

    .twelve.wide.column

      .ui.five.small.steps
        .completed.step
          %i.wizard.icon
          .content
            .title Startup
            /.description Lorem ipsum dolor sit amet
        .active.step
          %i.wizard.icon
          .content
            .title Queue
            /.description Lorem ipsum dolor sit amet
        .disabled.step
          %i.wizard.icon
          .content
            .title Prepare
            /.description Lorem ipsum dolor sit amet
        .disabled.step
          %i.wizard.icon
          .content
            .title Run
            /.description Lorem ipsum dolor sit amet
        .disabled.step
          %i.wizard.icon
          .content
            .title Finish
            /.description Lorem ipsum dolor sit amet



      %table.ui.sortable.table
        %thead
          %tr
            %th Name
            %th.collapsing.descending Status
            %th.collapsing Duration
        %tbody
          %tr.positive
            %td test1
            %td.collapsing passed
            %td.collapsing 5 sec
          %tr.positive
            %td test2
            %td.collapsing passed
            %td.collapsing 4 sec
          %tr.positive
            %td test3
            %td.collapsing passed
            %td.collapsing 3 sec
          %tr.warning
            %td test4
            %td.collapsing warnings
            %td.collapsing 0 sec
          %tr.positive
            %td test5
            %td.collapsing passed
            %td.collapsing 1 sec


            


      / .ui.styled.fluid.accordion.test1
        
      /   .title
      /     %i.dropdown.icon
      /     Test
      /     .ui.horizontal.link.list.right.floated
      /       %a.item passed
      /       %a.item 1 sec
      /   .content
      /     %p Test info

    .four.wide.column
      
      

      .ui.secondary.segment
        %h4.ui.header Recent Activity
        .ui.relaxed.divided.list
          .item
            %i.large.github.middle.aligned.icon
            .content
              %a.header solanolabs/tddium_site
              .description Updated 10 mins ago
          .item
            %i.large.github.middle.aligned.icon
            .content
              %a.header solanolabs/tddium_site
              .description Updated 22 mins ago
          .item
            %i.large.github.middle.aligned.icon
            .content
              %a.header solanolabs/tddium_site
              .description Updated 34 mins ago
      
      / sidebar session search buttons

      .ui.floating.dropdown.labeled.search.icon.button
        %i.checkmark.icon
        %span.text Session #1914902
        .menu 
          .item Session #1914901
          .item Session #1914900
          .item Session #1914807
          .item Session #1914789

      .ui.floating.dropdown.labeled.search.icon.button
        %i.fork.icon
        %span.text CISRV-1205
        .menu 
          .item CISRV-1006
          .item timings-display-prototype
          .item codepipeline_upload
          .item cisrv-1303-flush-scm-cache

      .ui.floating.dropdown.labeled.search.icon.button
        %i.file.code.outline.icon
        %span.text tddium_site
        .menu 
          .item tddium_www
          .item tddium_system
          .item docs
          .item begot

      .ui.floating.dropdown.labeled.search.icon.button
        %i.users.icon
        %span.text solanolabs
        .menu 
          .item electronspin
          .item semipermeable
          .item tddium
          .item semantic-ui

      



